<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chameleon.band.repository.UserRepository">

	<resultMap type="com.chameleon.band.entity.User" id="UserMap">
		<id property="userId" column="user_id" />
		<result property="email" column="email"/>
		<result property="password" column="password"/>
		<result property="name" column="name"/>
		<result property="phone" column="phone"/>
		<result property="provider" column="provider"/>
		<result property="profileImg" column="profile_img"/>
		<collection property="authorities" javaType="list" resultMap="AuthorityMap" />
	</resultMap>
	
	<resultMap type="com.chameleon.band.entity.Authority" id="AuthorityMap">
		<id property="authorityId" column="authority_id"/>
		<result property="userId" column="user_id"/>
		<result property="roleId" column="role_id"/>
		<association property="role" resultMap="RoleMap"/>
	</resultMap>
	
	<resultMap type="com.chameleon.band.entity.Role" id="RoleMap">
		<id property="roleId" column="role_id"/>
		<result property="roleName" column="role_name"/>
	</resultMap>
	
	<select id="findUserByEmail" resultMap="UserMap">
		select
			ut.user_id,
			ut.email,
			ut.password,
			ut.name,
			ut.provider,
			
			at.authority_id,
			at.user_id,
			at.role_id,
			
			rt.role_id,
			rt.role_name
		from
			user_tb ut
			left outer join authority_tb at on(at.user_id = ut.user_id)
			left outer join role_tb rt on(rt.role_id = at.role_id)
		where
			ut.email = #{email}
	</select>
	
	<select id="findUserByNameAndPhone" resultMap="UserMap">
		select
			ut.user_id,
			ut.email,
			ut.password,
			ut.name,
			ut.provider,
			
			at.authority_id,
			at.user_id,
			at.role_id,
			
			rt.role_id,
			rt.role_name
		from
			user_tb ut
			left outer join authority_tb at on(at.user_id = ut.user_id)
			left outer join role_tb rt on(rt.role_id = at.role_id)
		where
			ut.name = #{name}
			and ut.phone = #{phone}
	</select>
	
	<insert id="saveUser"
	parameterType="com.chameleon.band.entity.User"
	useGeneratedKeys="true"
	keyProperty="userId">
		insert into user_tb
		values (0, #{email}, #{password}, #{name}, #{provider})
	</insert>
	
	<insert id="saveAuthority" parameterType="com.chameleon.band.entity.Authority">
		insert into authority_tb
		values (0, #{userId}, #{roleId})
	</insert>
	
	<update id="updateProvider" parameterType="com.chameleon.band.entity.User">
		UPDATE user_tb
		SET
			provider = #{provider}
		WHERE
			user_id = #{userId}
	</update>
	
	<update id="updatePassword" parameterType="com.chameleon.band.entity.User">
		UPDATE user_tb
		SET
			password = #{password}
		WHERE
			user_id = #{userId}
	</update>
	
	<delete id="userDelete" parameterType="com.chameleon.band.entity.User">
		delete from
			user_tb
		where
			user_id = #{userId}
	</delete>
	
	<update id="updateProfileImg" parameterType="com.chameleon.band.entity.User">
		update user_tb
		set
			profile_img = #{profileImg}
		where
			user_id = #{userId}
	</update>
</mapper>